body{
  padding-left:60px;
  float:none;
}

.rollNum{
  padding-top: 5px;

}

.spacedLb{
  padding-right:8px;
}
.sbs{
  float:left;
  padding-right:10px;
  clear:none;
}
#orBox{
  clear:left;
}
#display{
  padding-left:400px;
}
#trackChart{
  float:right;
  position:relative;
}
